*{
    padding: 0;
    margin: 0;
}

body{
    margin: auto;
    max-width: 600px;
    background-color: rgb(250, 208, 252);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

header{
    padding: 1%;
    margin-bottom: 2%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

header img{
    width: 75px;
}

main{
    padding: 1%;
    margin-bottom: 2%;
    width: 100%;
    min-height: 300px;
    display: flex;
    justify-content: center;
}

.drawPanel{
    width: 50%;
    padding: 5%;
    display: grid;
    gap: 15px;
    grid-template-rows: repeat(min-content);
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-content: center;
    font-size: 20px;
    color: white;
    background-color: rgb(160, 121, 255);
    border-radius: 20px;
}

.select_false{
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: rgb(127, 96, 204);
    border-radius: 50%;
    font-size: 15px;
}

.select_true{
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: red;
    border-radius: 50%;
    font-size: 15px;
}

.handleResults{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-items: center;
}

.handleResults button{
    padding: 5%;
    color: white;
    background-color: rgb(111, 84, 178);
    border: none;
    border-radius: 10px;
}

.last_results{
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template: 1fr / 1fr 1fr 1fr;
}

.last_results div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.last_results h3{
    display: flex;
    padding: 5%;
    justify-content: space-around;
    color: white;
    background-color: #7f60cc;
    border-radius: 50%;
    
}

footer{
    margin-top: 50px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    background-color: rgb(111, 84, 178);
    color: white;
}

.contact ul{
    list-style: none;
}

.contact a{
    text-decoration: none;
    color: white;
}

/* Modal */
.modal{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.593);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.controller{
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7f60cc;
}

.controller label{
    font-size: 20px;
    color: white;
}

.controller input{
    margin-left: 10px;
    width: 50px;
    background-color: black;
    color: white;
}

.modal button{
    padding: 20px;
    font-size: 20px;
    border: none;
    border-radius: 50%;
    background-color: #7f60cc;
    color: white;
}

.hideModal{
    display: none;
}